html, body {
	height: 100%;
}

html{
	display: table;
	margin: auto;
}

body {
	margin: 20px;
	display: table-cell;
	vertrical-align:middle;
}


h1 {
	padding: 5px;
}

.block-container {
	text-align: left;
}

.block1, .block2, .block3 {
	display: inline;
}

.headnfoot-container {
	background-color: #474747;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	color: #F5F5F5;
}

.footer-content-container {
	color: #F5F5F5;
	padding: 3px;
}

.footer-content-container a:hover {
	color: #E1E1E1;
}

.return-group a:visited {
	color: #FFFFFF;
}

a:link {
	color: #00C5FF;
}

a:visited {
	color: #A95DFF;
}